.list-img{
  
  column-count: 5;
  column-gap: 15px;
  
    .img-card{
      display: block;
      width: 100%;
      margin-bottom: 4px;
      position: relative;
    }
    .img-card::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: rgba(2, 2, 2, 0.212);
      transition: .1s;
      border-radius: 10px;

    }
    .img-card:hover:before {
      width: 100%;
      cursor: zoom-in;
    }
    img{
      display:block;
      border-radius: 10px;
      width: 100%;
    }
    
}
