.btn-save{
    position: absolute;
    right: 10px;
    top:10px;
    button{
        background-color: rgb(189, 3, 3);
        color: #fff;
        border:none;
        height: 46px;
        padding: 0 13px;
        margin-right: 8px;
        border-radius: 25px;
        font: {
            size: 1rem;
            weight: 600;
        }
    }
}