.detail-img{
    width: 40%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    img{
        width: 100%;
    }

    button{
        padding: 10px 15px;
        border-radius: 20px;
        background-color: rgb(138, 0, 0);
        color: #fff;
        border:none;
        margin-bottom: 5%;
    }
}